body {background-image: url(imagens/castelo.png);}

a {text-decoration: none;
color:white;
padding-left: 3px;
font-size: 20px;
margin: 0px 0px 0px 2px
}


.header_principal 
{
    color: red;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    
}

.header_titulo {color:white;
font-size: 40px;
font-family: 'Birthstone', cursive;
padding 0px 10px;
margin:0px 30px
}

.menu {list-style: none;
    display: flex;
    list-style: none;
    padding: 0px 50px 0px 0px ;
    font-family:fantasy;
    

}

#corpo {
padding:10px 10px 10px 10px;
margin: 20px 10px 10px 0px;
width: 60%;
height: 620px;
color:white;
font-size: 20px;
margin:10px auto;
font-family:fantasy;

}


#harry {width: 400px;
height: 500px;
margin: 0px 0px 0px 200px;
display: flex;

}


#harry2 {width: 300px;
height: 300px;}

#aparatar {color:yellow;
    font-style: italic;
    margin:10px 0px 0px 400px;
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 60px;  
}

#aparatar2 {
    color:red;
    font-style: italic;
    margin:10px 0px 0px 200px;
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 60px;  

}

#aparatar:hover {color:aliceblue;
font-size: 50px;
}

#aparatar2:hover {color:aliceblue;
    font-size: 50px;
    }

#trem {color:red;
    font-style: italic;
    margin:10px 10px 10px 290px;
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

#trem:hover {color:yellow;
font-size: 35px;
}


img {height: 350px ;
width: 700px;
margin:0px 0px 0px 20px
}

h1 {text-align: center;}


#noticias {
    padding:10px 10px 10px 10px;
    margin: 20px 10px 10px 0px;
    width: 60%;
    height: 100%;
    color:black;
    font-size: 20px;
    margin:10px auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;   
font-family: fantasy;
}

#texto {margin 10px auto;
padding:10px;
text-align: justify;
color:black;

}


a:hover {color:blue;}

.rodape {color:white;
font-size: 22px;
text-align: center;
width: 300px;
margin: 10px auto;
padding: 0px 0px 0px 50px;

}

#form {
    padding:10px 10px 10px 10px;
    margin: 20px 10px 10px 0px;
    width: 60%;
    height: 100%;
    color:black;
    font-size: 20px;
    background-color: white;
    border:10px solid black;
    margin:10px auto;
    }

  